<h1>Editing conference</h1>

<%= start_form_tag :action => 'update', :id => @conference %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Confirm Changes' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @conference %> |
<%= link_to 'Back', :action => 'list' %>
