<% for column in Conference.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @conference.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @conference %> |
<%= link_to 'Back', :action => 'list' %>
