<% if @errors.size > 0 %>
<div id="errorExplanation">
<h2>Error</h2>
<p>
<ul>
  <% @errors.each do |e| %>
  <li><%= e %></li>
<% end %>
</ul>
</p>
</div>
<% end %>

<%= start_form_tag( {:action => 'csv_import', :controller => '/admin/events'}, {:multipart => true, :method => 'post'}) %>
<strong>Attach File</strong>
<input type="file" name="attachment" ><br/>
<%= submit_tag "Submit" %><br />
<%= end_form_tag %><br />
