<table>
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |u| %>
  <tr>
    <td><a href="/admin/users/details/<%= u.id %>"><%= u.name %></a></td>
    <td><form action="/admin/users/view_policy/<%= u.order_item_id %>" method="GET">
        <input type="submit" name="submit" value="View Policy">
      </form>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>


