<h4>Change Commission  Percentage </h4>
<form action="/admin/site/change_commission" method="post">
  <input type="text" name="commission" value="<%= @event.commission %>" />
  <input type="submit" value="submit" name="submit" />
</form>
